@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
  z-index: 0;
 }

label {
  margin-bottom: 0;
}


/* BOUTON ZOOM ROTATION MAPBOX */
/* Changer la position des boutons de zoom et de rotation de Mapbox */
.mapboxgl-ctrl-top-right {
    top: 8.7%;
    right: 0.1%;
}
/* FIN BOUTON ZOOM ROTATION MAPBOX */


/* BOUTON MENU FONDS DE CARTE */
/* Dropdown Button */
@media only screen and (max-width: 600px) 
{
.dropdown-button {
    position: relative;
    display: inline-block;
    background: url("img/layers.svg") no-repeat top left;
    background-size: contain; 
    background-size: 75%;
    background-position: center;
    background-color: #ffffff;
    /* margin: 6px 16px;  */
    /* padding: 25px;  */
    /* right: 0; */
    /* left: 90%; */
    width: 35px;
    height: 35px;
    border-radius: 10px; 
    border: solid 1.5px rgba(134, 134, 134, 0.3); 
    cursor: pointer; 
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
.dropdown-button {
    position: relative;
    display: inline-block;
    background: url("img/layers.svg") no-repeat top left;
    background-size: contain; 
    background-size: 75%;
    background-position: center;
    background-color: #ffffff;
    /* margin: 6px 16px;  */
    /* padding: 25px;  */
    /* right: 0; */
    /* left: 90%; */
    width: 35px;
    height: 35px;
    border-radius: 10px; 
    border: solid 1.5px rgba(134, 134, 134, 0.3); 
    cursor: pointer; 
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
.dropdown-button {
    position: relative;
    display: inline-block;
    background: url("img/layers.svg") no-repeat top left;
    background-size: contain; 
    background-size: 75%;
    background-position: center;
    background-color: #ffffff;
    /* margin: 6px 16px;  */
    /* padding: 25px;  */
    /* right: 0; */
    /* left: 90%; */
    width: 35px;
    height: 35px;
    border-radius: 10px; 
    border: solid 1.5px rgba(134, 134, 134, 0.3); 
    cursor: pointer; 
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
.dropdown-button {
    position: relative;
    display: inline-block;
    background: url("img/layers.svg") no-repeat top left;
    background-size: contain; 
    background-size: 75%;
    background-position: center;
    background-color: #ffffff;
    /* margin: 6px 16px;  */
    /* padding: 25px;  */
    /* right: 0; */
    /* left: 90%; */
    width: 35px;
    height: 35px;
    border-radius: 10px; 
    border: solid 1.5px rgba(134, 134, 134, 0.3); 
    cursor: pointer; 
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
.dropdown-button {
    position: relative;
    display: inline-block;
    background: url("img/layers.svg") no-repeat top left;
    background-size: contain; 
    background-size: 75%;
    background-position: center;
    background-color: #ffffff;
    /* margin: 6px 16px;  */
    /* padding: 25px;  */
    /* right: 0; */
    /* left: 90%; */
    width: 38px;
    height: 38px;
    border-radius: 10px; 
    border: solid 1.5px rgba(134, 134, 134, 0.3); 
    cursor: pointer; 
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    /* display: inline-block; */
    /* padding-right: 10px; */
    margin: 7px 7px; 
    /* right: 0; */
    right: 0%;
    z-index:1;
  }
  
/* Dropdown Content */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 110px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 10px;
      left:-220%;
      top: 1%;
      font-size: 11px;
    } 
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    left:-260%;
    top: 1%;
    font-size: 13px;
  } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    left:-360%;
    top: 1%;
  } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    left:-360%;
    top: 1%;
  } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    left:-323%;
    top: 1%;
  } 
}
/* Dropdown Content List */
.dropdown-content-list {
    padding: 5px 0px 10px 10px;
    border-radius: 10px;
    background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */ 
.dropdown:hover .dropdown-button {background-color: rgba(247, 247, 247, 0.9);} 
/* FIN BOUTON MENU FONDS DE CARTE */

/* DEBUT BOUTON ZOOM DEZOOM DE MAPBOX */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
.mapboxgl-ctrl-group {
  position: absolute;
  right: 0.8%;
  top: -10px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
.mapboxgl-ctrl-group {
  position: absolute;
  right: 0.8%;
  top: -15px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
.mapboxgl-ctrl-group {
  position: absolute;
  right: 0.8%;
  top: -30px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
.mapboxgl-ctrl-group {
  position: absolute;
  right: 0.8%;
  top: -20px;
  /* top: -50px; */
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
.mapboxgl-ctrl-group {
  position: absolute;
  right: 0.8%;
  top: -5px;
  /* top: -50px; */
}
}
/* FIN BOUTON ZOOM DEZOOM DE MAPBOX */

/* DEBUT PANEL */
/* Panel */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
.collapse-sidepanel {
  position: absolute;
  top: 1.2%; 
  left: 0.8%;
  width: 50%;
  height: 10%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
.collapse-sidepanel {
  position: absolute;
  top: 1.2%; 
  left: 0.8%;
  width: 45%;
  height: 9%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
.collapse-sidepanel {
  position: absolute;
  top: 1.2%; 
  left: 0.8%;
  width: 40%;
  height: 9%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
.collapse-sidepanel {
  position: absolute;
  top: 1.2%; 
  left: 0.8%;
  width: 33%;
  height: 8%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
.collapse-sidepanel {
  position: absolute;
  top: 1.2%; 
  left: 0.8%;
  width: 25%;
  height: 15%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
}


/* Titre Panel */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  #collapse-sidepanel-main-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    margin: 6px;
    /* margin-top: 9px; */
    color: rgb(71, 71, 71);
    z-index: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  #collapse-sidepanel-main-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 9px;
    /* margin-top: 9px; */
    color: rgb(71, 71, 71);
    z-index: 1;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  #collapse-sidepanel-main-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 9px;
    /* margin-top: 9px; */
    color: rgb(71, 71, 71);
    z-index: 1;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  #collapse-sidepanel-main-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    margin: 9px;
    /* margin-top: 9px; */
    color: rgb(71, 71, 71);
    z-index: 1;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  #collapse-sidepanel-main-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    margin: 10px;
    /* margin-top: 9px; */
    color: rgb(71, 71, 71);
    z-index: 1;
  }
}
/* Fin Titre Panel */

/* 
.geocoder {
  position: absolute;
  z-index: 1;
  left: 1.4vw;
  width: 90%;
  margin-top: 5px;
  height: 2vw;
  top: 2vw; 
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); 
  font-size: 4px;
  } */

/* Mapbox Geocodeur */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
.mapboxgl-ctrl-geocoder {
    display: inline-block;
    border: solid 1.2px;
    border-color: rgb(102, 101, 101);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    /* height: 3.4vw; */
    /* top: 0.4vw; */
    left: 7%;
    min-width: 86%;
    /* min-height: 100%; */
    width: 1px;
    height: 23px;
    font-size: 9px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .mapboxgl-ctrl-geocoder {
    display: inline-block;
    border: solid 1.2px;
    border-color: rgb(102, 101, 101);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    /* height: 3.4vw; */
    /* top: 0.4vw; */
    left: 7%;
    min-width: 86%;
    /* min-height: 100%; */
    width: 1px;
    height: 28px;
    font-size: 11px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .mapboxgl-ctrl-geocoder {
    display: inline-block;
    border: solid 1.2px;
    border-color: rgb(102, 101, 101);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    /* height: 3.4vw; */
    /* top: 0.4vw; */
    left: 7%;
    min-width: 86%;
    /* min-height: 100%; */
    width: 1px;
    height: 38px;
    font-size: 12px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .mapboxgl-ctrl-geocoder {
    display: inline-block;
    border: solid 1.2px;
    border-color: rgb(102, 101, 101);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    /* height: 3.4vw; */
    /* top: 0.4vw; */
    left: 7%;
    min-width: 86%;
    /* min-height: 100%; */
    width: 1px;
    height: 40px;
    font-size: 13px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  .mapboxgl-ctrl-geocoder {
    display: inline-block;
    border: solid 1.2px;
    border-color: rgb(102, 101, 101);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    /* height: 3.4vw; */
    /* top: 0.4vw; */
    left: 7%;
    min-width: 86%;
    /* min-height: 100%; */
    width: 1px;
    height: 41px;
    font-size: 15px;
}
}
/* Fin Mapbox Geocodeur */

/* Mapbox icone search geocodeur */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 19px;
    height: 19px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 23px;
    height: 23px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) 
{
.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
} */
/* FIN Mapbox icone search geocodeur */

/* DEBUT Mapbox Rechercher une adresse */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  .mapboxgl-ctrl-geocoder--input {
    height: 22px;
    padding: 2px 25px;
    width: auto;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .mapboxgl-ctrl-geocoder--input {
    height: 28px;
    padding: 6px 30px;
    width: auto;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  .mapboxgl-ctrl-geocoder--input {
    height: 36px;
    padding: 6px 35px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  .mapboxgl-ctrl-geocoder--input {
    height: 38px;
    padding: 6px 35px;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  .mapboxgl-ctrl-geocoder--input {
    height: 38px;
    padding: 6px 35px;
}
}

/* FIN Mapbox Rechercher une adresse */
/* FIN PANEL */


/* DEBUT TOOLTIP BOOTSTRAP */
.tooltip-inner {
  background-color: rgb(81, 81, 81);
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: rgb(81, 81, 81);
}

.bs-tooltip-right .arrow::before {
  border-right-color: rgb(81, 81, 81);
}
/* FIN TOOLTIP BOOTSTRAP */


/* DEBUT TEXTE IMPROVE AMELIORATION */
.mapbox-improve-map {
  display: none;
}
/* FIN TEXTE IMPROVE AMELIORATION */

/* DEBUT BOUTONS INFORMATIONS */
@media only screen and (max-width: 600px) 
{
#button-informations {
  position: absolute;
  bottom: 7%;
  left: 2%;
  background: url('img/info.svg');
  background-size: contain; 
  background-size: 105%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgb(51, 51, 51);
  border-width: 0px;
  border-radius: 70px;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  width: 21px;
  height: 21px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
#button-informations {
  position: absolute;
  bottom: 5%;
  left: 1.3%;
  background: url('img/info.svg');
  background-size: contain; 
  background-size: 105%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgb(51, 51, 51);
  border-width: 0px;
  border-radius: 70px;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  width: 21px;
  height: 21px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
#button-informations {
  position: absolute;
  bottom: 5%;
  left: 1%;
  background: url('img/info.svg');
  background-size: contain; 
  background-size: 105%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgb(51, 51, 51);
  border-width: 0px;
  border-radius: 70px;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  width: 21px;
  height: 21px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
#button-informations {
  display: block;
  position: absolute;
  bottom: 5%;
  left: 1%;
  background: url('img/info.svg');
  background-size: contain; 
  background-size: 105%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgb(51, 51, 51);
  border-width: 0px;
  border-radius: 70px;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  width: 21px;
  height: 21px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
#button-informations {
  position: absolute;
  bottom: 5%;
  left: 0.5%;
  background: url('img/info.svg');
  background-size: contain; 
  background-size: 105%;
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgb(51, 51, 51);
  border-width: 0px;
  border-radius: 70px;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  width: 21px;
  height: 21px;
}
}

#button-informations:focus {
  outline: none;
}

.close:focus {
  outline: none;
}

.modal-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 26px;
  color: rgb(71, 71, 71);
}

.modal-body-h6{
  font-family: Roboto;
  font-weight: bold;
  font-size: 17px;
  color: rgb(71, 71, 71);
}

.modal-body-paragraphe {
  font-family: Roboto;
  font-weight: medium;
  font-size: 13px;
  margin-bottom: 30px;
  /* color: rgb(71, 71, 71); */
}

.modal-body-paragraphe-no-margin {
  font-family: Roboto;
  font-weight: medium;
  font-size: 13px;
}
/* FIN BOUTONS INFORMATIONS */

/* .button-panel {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  left: 0.4rem;
  border-radius: 4px; 
  border: solid 1.5px rgba(134, 134, 134, 0.3); 
  background: url("img/arrow-left.svg") no-repeat top left;
  background-size: contain; 
  background-size: 65%;
  background-position: center; 
  background-color: #ffffff;
  margin: 6px 5px; 
  cursor: pointer; 
  z-index: 1;
}

.button-panel2 {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  left: 0.4rem;
  border-radius: 4px; 
  border: solid 1.5px rgba(134, 134, 134, 0.3); 
  background: url("img/arrow-right.svg") no-repeat top left;
  background-size: contain; 
  background-size: 65%;
  background-position: center; 
  background-color: #ffffff;
  margin: 6px 5px; 
  cursor: pointer; 
  z-index: 1;
} */
